.boton {
  min-width: 100px;
  height: 100px;
  /* flex: 0 0 calc(25% - 20px); */
  color: #24252f;
  border: none;
  border-radius: 15px;
  background-image: linear-gradient(#8da837, #c0c0c0 20%);
  box-shadow: 0 0 0 2px rgba(0,0,0,.25);
  padding: 1.25rem;
}

.boton:hover {
  box-shadow: 0 0 20px 8px rgba(141,168,55,.15);
}