.footer {
  backdrop-filter: brightness(1);
}

/* Contenido Relevante */
.footer__principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__texto,
.footer__li {
  color: #c7281a;
  font-size: 1.3rem;
  font-weight: 100;
  margin: 16px 20px;
}

.footer__ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer__link {
  display: flex;
  font-weight: 300;
  text-decoration: none;
  color: #c7281a;
  position: relative;
  transition: 1.35s;
}

.footer__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 1px;
  background: #c7281a;
  transition: all ease-in-out .45s;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s cubic-bezier(.25,.8,.25,1) 0s;
}

.footer__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .footer {
    width: 100vw;
  }

  .footer__ul {
    flex-direction: column;
    align-items: center;
  }

  .footer__texto, .footer__li {
    font-size: 1rem;
  }

  .footer__li {
    margin: 0 20px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
}