.footer {
  background: linear-gradient(to right, #70caee, #c3f732);
}

.footer:hover {
  background: linear-gradient(to right, #c3f732, #70caee);
}

/* Contenido Relevante */
.footer__principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__texto {
  margin-left: 20px;
}

.footer__ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.footer__li {
  margin-right: 20px;
}

.footer__link {
  text-decoration: none;
  color: #333;
}

.footer__link:hover {
  color: red;
}