.footer {
  flex: 1;
  max-height: 7.5vh;
  backdrop-filter: brightness(1) blur(.5rem);
  background: linear-gradient(transparent, rgba(255, 255, 255, 0.5));
}

.footer__principal {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5rem 1rem;
  gap: 1rem;
}

.footer__texto,
.footer__li {
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: .075rem;
}

.footer__dev {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.footer__social {
  display: flex;
  justify-content: center;
  margin: 0 2rem;
  gap: 2rem;
}

.footer__icon {
  color: #000;
  font-size: 2.5rem;
  display: flex;
  border-radius: 1rem;
  transition: 0.25s;
}

.footer__icon:hover {
  color: indianred;
  transform: translateY(-5px);
}

.footer__ul {
  min-width: 12rem;
  list-style: none;
  padding: 0;
  display: flex;
  align-items: center;
}

.footer__link {
  display: flex;
  text-decoration: none;
  color: #000;
  position: relative;
  transition: .35s;
}

.footer__link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.45rem;
  width: 100%;
  height: .1rem;
  background: #000;
  transition: all ease-in-out .45s;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.6s cubic-bezier(.25, .8, .25, 1) 0s;
}

.footer__link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.footer__imgFixed {
  width: 2.5rem;
  padding: 0 .27rem .36rem 0;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .footer__ul {
    flex-direction: column;
    align-items: center;
  }

  .footer__texto,
  .footer__li {
    font-size: 1rem;
  }

  .footer__link::after {
    display: none;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .footer__ul {
    gap: 1.5rem;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
  .footer__ul {
    gap: 1.5rem;
  }
}