.formulario {
  width: 40%;
  height: 100%;
}

.formulario__formBox {
  border-radius: 2rem;
  background: linear-gradient(0deg, rgb(248, 185, 103) 0%, rgba(255, 162, 9, 1) 100%);
  padding: 5rem 6rem;
}

.formulario__form {
  display: flex;
  flex-direction: column;
}

.formulario__label {
  display: none;
  font-size: 2.5rem;
}

.formulario__entrada {
  border: none;
  outline: none;
  border-bottom: 1px solid rgba(255, 255, 255, .5);
  border-radius: .8rem;
  background: rgba(255, 255, 255, .3);
  backdrop-filter: blur(5px);
  padding: 1rem;
  margin-bottom: 1.8rem;
}

.formulario__entrada::placeholder {
  color: #fff;
  padding: 0 .4rem;
}

.formulario__boton {
  font-weight: 600;
  border: none;
  border-radius: 1.4rem;
  background-color: #9af476;
  padding: 1.5rem 0;
  margin-top: .5rem;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 450px) {
  .formulario {
    width: 75%;
  }

  .formulario__formBox {
    padding: 7rem 3rem;
  }
}

@media (min-width: 451px) and (max-width: 600px) {
  .formulario {
    width: 75%;
  }

  .formulario__formBox {
    padding: 7rem 4rem;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .formulario {
    width: 75%;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) and (max-width: 1164px) {}

@media (min-width: 1165px) and (max-width: 1245px) {}

@media (min-width: 1246px) {}