.formulario {
  display: flex;
  align-items: center;
  justify-content: center;
}

.formulario__formBox {
  border-radius: 2rem;
  backdrop-filter: brightness(.65);
  padding: 5rem 6rem;
}

.formulario__form {
  display: flex;
  flex-direction: column;
}

.formulario__label {
  display: none;
  font-size: 2.5rem;
}

.formulario__entrada {
  border: none;
  outline: none;
  border-bottom: .1rem solid rgba(255, 255, 255, .5);
  border-radius: .8rem;
  color: #fff;
  background: rgba(255, 255, 255, .3);
  backdrop-filter:  blur(1.2rem);
  padding: 1rem;
  margin-bottom: 1.8rem;
}

.formulario__entrada::placeholder {
  color: #fff;
  padding: 0 .4rem;
}

.formulario__entrada option {
  color: #666;
}

.formulario__boton {
  font-weight: 600;
  border: none;
  border-radius: 1.4rem;
  background-color: #9af476;
  padding: 1.5rem 0;
  margin-top: .5rem;
  cursor: pointer;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 450px) {
  .formulario__formBox {
    width: 75%;
    padding: 7rem 3rem;
  }
}

@media (min-width: 451px) and (max-width: 600px) {
  .formulario__formBox {
    width: 85%;
    padding: 7rem 4rem;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) and (max-width: 1164px) {}

@media (min-width: 1165px) and (max-width: 1245px) {}

@media (min-width: 1246px) {}