/* Estilos para el header */
.header {
  min-height: 80px;
  background-color: rgba(0, 0, 0, .5);
  backdrop-filter: grayscale(1);
  color: #fff;
  display: flex;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.header__principal {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__marca {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #fff;
}

/* Estilos para el logo */
.header__logo {
  max-width: 100px;
  height: auto;
  display: block;
  margin: 10px;
}

/* Estilos para el título */
.header__titulo {
  font-size: 4rem;
  margin: 0;
}

/* Estilos para la navegación */
.header__nav {
  margin: 10px;
}

.header__ul {
  height: 100%;
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.header__li {
  min-width: 90px;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 2px;
  padding: .75rem;
  margin: 0 10px;
  transition: all 0.5s 0.3s
}

.header__li:hover {
  background-color: rgba(255, 255, 255, .5);
}

.header__li:hover .header__link {
  color: #fc1d15;
  transition: color .3s;
  text-shadow: none;
}

.header__li:hover .header__link::before,
.header__li:hover .header__link::after {
  width: 100%;
  background-color: #fc1d15;
  box-shadow: 0 0 3px #fc1d15;
}

.header__link {
  color: #ffffff;
  font-weight: 400;
  text-decoration: none;
  text-transform: uppercase;
  text-shadow: 0 0 2px #fff;
  position: relative;
  transition: color .5s;
}

.header__link::before,
.header__link::after {
  content: "";
  width: 0;
  height: 0.1rem;
  display: block;
  transition: width 0.3s cubic-bezier(0.55, 0, 0.98, 0.54);
}

.header__box {
  display: flex;
}

.header__sesion {
  max-width: 100%;
  display: flex;
}

/* Estilos para el formulario de búsqueda */
.header__form {
  padding: 5px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header__entrada {
  padding: 5px;
  margin-right: 5px;
}

.header__boton {
  min-height: 40px;
  padding: 5px 12px;
  margin-right: 5px;
  text-decoration: none;
  border-radius: 20px;
  border: 1px solid #fade4b;
  text-transform: uppercase;
  font-size: 1.7rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: #fade4b;
  cursor: pointer;
}

.header__boton:hover {
  color: #000;
  background-color: #fade4b;
  box-shadow: 0 0 12px 3px gold;
  transition: color .3s;
}

.header__toggle {
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.header__toggle::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #000;
  transform: translateY(-8px);
  transition: 0.5s;
}

.header__toggle::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 2px;
  background: #000;
  transform: translateY(8px);
  transition: 0.5s;
  box-shadow: 0 -8px 0 #000;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 450px) {
  .header__titulo {
    font-size: 3rem;
    margin-right: 10px;
  }
  
  .header__nav {
    display: none;
  }
  
  .header__sesion {
    display: none;
  }
}

@media (min-width: 451px) and (max-width: 600px) {
  .header__titulo {
    font-size: 3rem;
    margin-right: 10px;
  }
  
  .header__nav {
    display: none;
  }

  .header__boton {
    font-size: 1.4rem;
    padding: 5px 8px;
    margin-right: 0;
    margin-left: 8px;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .header__titulo {
    font-size: 3.5rem;
    margin-right: 10px;
  }

  .header__nav {
    display: none;
  }

  .header__box {
    justify-content: flex-end;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) and (max-width: 1164px) {
  .header {
    width: 100vw;
  }

  .header__li {
    font-size: 1.6rem;
  }

  .header__sesion {
    display: none;
  }
}

@media (min-width: 1165px) {
  .header {
    width: 100vw;
  }

  .header__li {
    font-size: 2rem;
  }

  .header__toggle {
    display: none;
  }
}