.logo {
  width: 18rem;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: .8rem;
  backdrop-filter: blur(5px);
  background: rgba(255, 255, 255, .2);
  padding: 2rem;
  position: absolute;
  left: -5rem;
  bottom: 50%;
  transform: translateY(50%);
}

.logo>img {
  width: 70%;
  object-fit: cover;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .logo {
    width: 10rem;
    height: 6rem;
    padding: 1rem;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .logo {
    width: 14rem;
    height: 7rem;
    padding: 1rem;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) and (max-width: 1164px) {
}

@media (min-width: 1165px) {
}