.plantillaClients {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.plantillaClients__main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(250, 150, 50, .6);
}

.plantillaClients__brands {
  width: 75%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  border-radius: 30px;
}

.plantillaClients__brandBox {
  min-width: 18rem;
  font-size: 3.5rem;
  border-radius: .8rem;
  background: rgba(255, 62, 62, 0.6);
  margin: 1.5rem 3rem;
  position: relative;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .plantillaClients__brands {
    height: 100%;
  }

  .plantillaClients__brandBox {
    margin: 1.5rem 4rem;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .plantillaClients__brands {
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  }

  .plantillaClients__brandBox {
    margin: 1.5rem 4rem;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) and (max-width: 1164px) {
  .plantillaClients__brandBox {
    margin: 1.5rem 4rem;
  }
}

@media (min-width: 1165px) {}