.plantillaHome {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-size: cover;
}

.plantillaHome__header {
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 100;
}

.plantillaHome__main {
  flex: 1;
  min-height: 82vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plantillaHome__texto {
  max-width: 60%;
  text-align: justify;
}

.plantillaHome__titulo {
  font-size: 7rem;
  font-weight: 300;
  color: transparent;
  background: linear-gradient(to top, red, #000, white);
  background-clip: text;
  margin: 7rem 3rem;
}

.plantillaHome__titulo--span {
  font-size: 8.5rem;
  font-weight: 700;
}

.plantillaHome__footer {
  width: 100vw;
  position: fixed;
  bottom: 0;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .plantillaHome {
    width: 100vw;
  }

  .plantillaHome__main {
    flex-direction: column;
  }

  .plantillaHome__texto {
    max-width: 100%;
  }

  .plantillaHome__titulo {
    font-size: 3.5rem;
  }

  .plantillaHome__titulo--span {
    font-size: 4rem;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .plantillaHome__main {
    flex-direction: column;
  }

  .plantillaHome__texto {
    max-width: 100%;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {}