.plantillaHome {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.plantillaHome__main {
  flex: 1;
  min-height: 82vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}

.plantillaHome__texto {
  max-width: 60%;
  text-align: justify;
}

.plantillaHome__titulo {
  font-size: 5rem;
  font-weight: 300;
  color: rgb(255, 115, 0);
  margin: 30px 20px 0 5px;
}

.plantillaHome__titulo--span {
  font-size: 5.5rem;
  font-weight: 700;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .plantillaHome {
    width: 100vw;
  }

  .plantillaHome__main {
    flex-direction: column;
  }

  .plantillaHome__texto {
    max-width: 100%;
  }

  .plantillaHome__titulo {
    font-size: 3.5rem;
  }

  .plantillaHome__titulo--span {
    font-size: 4rem;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .plantillaHome__main {
    flex-direction: column;
  }

  .plantillaHome__texto {
    max-width: 100%;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {}