.plantillaAllies {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.plantillaAllies__main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.plantillaAllies__brands {
  width: 75%;
  height: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  background: rgb(0, 0, 0, .5);
  border-radius: 30px;
}

.plantillaAllies__logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

.plantillaAllies__img {
  width: 70%;
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .plantillaAllies__brands {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {
}