.plantillaLogin {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

.plantillaLogin__principal {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    backdrop-filter: brightness(.8) blur(4px);
    background-size: cover;
    overflow: hidden;
    opacity: .9;
    }
  
  /* Estilos para el formulario de inicio de sesión */
  .plantillaLogin__form {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: rgba(249, 249, 249, .85);
  }
  
  .plantillaLogin__label {
    font-size: 2rem;
    font-weight: 400;
    color: #240101;
  }
  
  /* Estilos para los campos de entrada */
  .plantillaLogin__entrada {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilos para el botón de inicio de sesión */
  .plantillaLogin__boton {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0 5px;
    border: none;
    border-radius: 3px;
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    background-color: #c02416;
    color: white;
    cursor: pointer;
  }

  .plantillaLogin__boton:hover {
    transform: scale(1.01);
    background-color: rgb(255, 123, 0);
  }
  
  /* Estilos para el enlace de recuperar contraseña */
  .plantillaLogin__link {
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 200;
    color: rgb(105, 13, 13);
    display: block;
    margin-top: 10px;
  }
  
  .plantillaLogin__link:hover {
    color: #ff8a00;
  }