.plantillaLogin {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

.plantillaLogin__principal {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: brightness(.8) blur(4px);
    background-image: url('https://getwallpapers.com/wallpaper/full/9/2/a/537812.jpg');
    background-size: cover;
    overflow: hidden;
    opacity: .9;
    }
  
  /* Estilos para el formulario de inicio de sesión */
  .plantillaLogin__form {
    max-width: 320px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
  }
  
  .plantillaLogin__label {
    color: #000000;
  }
  
  /* Estilos para los campos de entrada */
  .plantillaLogin__entrada {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  /* Estilos para el botón de inicio de sesión */
  .plantillaLogin__boton {
    width: 100%;
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    margin: 10px 0 5px;
    border: none;
    border-radius: 3px;
    background-color: lightcoral;
    color: white;
    cursor: pointer;
  }
  
  /* Estilos para el enlace de recuperar contraseña */
  .plantillaLogin__link {
    text-decoration: none;
    color: #000000;
    display: block;
    margin-top: 10px;
  }
  
  .plantillaLogin__link:hover {
    color: #ff8a00;
  }