.plantillaContact {
  flex: 1;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
}

.plantillaContact__main {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-image: url('https://static.colourlovers.com/images/patterns/3107/3107580.png');
  font-size: 2.8rem;
  padding: 1.4rem;
}

.plantillaContact__section {
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  gap: 2rem;
  padding: 2rem 0;
  margin: auto;
}

.plantillaContact__text {
  color: #fff;
  display: flex;
  justify-content: center;
  flex-direction: column;
  backdrop-filter: blur(1rem);
  padding: 3.5rem;
}

.plantillaContact__social {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.plantillaContact__icon {
  color: #fff;
  font-size: 3rem;
  display: flex;
  border-radius: 1rem;
  backdrop-filter: blur(1rem);
  transition: 0.25s;
}

.plantillaContact__icon:hover {
  color: #0ab3d1;
  transform: translateY(-5px);
}

/* Estilos para pantallas pequeñas */
@media (max-width: 600px) {
  .plantillaContact__section {
    flex-direction: column;
    align-items: center;
  }
}

/* Estilos para pantallas medianas */
@media (min-width: 601px) and (max-width: 1024px) {
  .plantillaContact__section {
    flex-direction: column;
    align-items: center;
  }

  .plantillaContact__text {
    width: 95%;
    margin-bottom: 1rem;
  }
}

/* Estilos para pantallas grandes */
@media (min-width: 1025px) {}