.plantillaHome {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.plantillaHome__main {
  flex: 1;
  min-height: 82vh;
  max-width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 30px;
}

.plantillaHome__texto {
  max-width: 60%;
  text-align: justify;
}

.plantillaHome__titulo {
  font-size: 5rem;
  font-weight: 300;
  color: rgb(255, 115, 0);
  margin: 30px 20px 0 5px;
}

.plantillaHome__titulo--span {
  font-size: 5.5rem;
  font-weight: 700;
}